{
 padding: 0;
 marggin: 0;   
}
.navbar{
    position: absolute;
    right: 0;
    width: 40;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style: none;
}
.navbar{
    color: brown;
    text-decoration: none;

    font-size: 24px;
}

.logo{
    color: brown;
    position: absolute;
    left: 10%;
    font-size: 26px;
}
.container{
    width: 100vw;
    height: 50vh;
    \position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.card p{
    color: antiquewhite;
    font-size: 36px;
    margin-bottom: 50px;
}
.card a{
    text-decoration: none;
    color: antiquewhite;
    
}